@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #1c1c22;
  --color-accent: #efe1c0;
  --color-accent-hover: #7b5431;

  --font-accent: var(--font-yesevaOne);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
}

@layer base {
  body {
    scroll-behavior: smooth;
    @apply bg-white text-white leading-loose;
  }
}
